*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#6C63FF;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.login-box{
    width:380px;
    background:white;
    padding:40px;
    border-radius:15px;
    box-shadow:0 10px 25px rgba(0,0,0,.2);
}

.login-box h1{
    text-align:center;
    margin-bottom:10px;
    color:#333;
}

.login-box p{
    text-align:center;
    color:gray;
    margin-bottom:20px;
}

.input-group{
    margin-bottom:18px;
}

.input-group label{
    display:block;
    margin-bottom:6px;
    font-weight:bold;
    color:#333;
}

.input-group input{
    width:100%;
    padding:12px;
    border:1px solid #ccc;
    border-radius:8px;
    font-size:15px;
}

.input-group input:focus{
    outline:none;
    border:2px solid #6C63FF;
}

button{
    width:100%;
    padding:13px;
    background:#6C63FF;
    color:white;
    border:none;
    border-radius:8px;
    font-size:17px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#574fd6;
}

#message{
    margin-top:15px;
    text-align:center;
    font-weight:bold;
}